@use "sass:meta";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/core/lib/scss/variables";

html {
  .bp4-dark {
    background-color: $pt-dark-app-background-color;
  }
}

html,
body,
#root {
  height: 100%;
}

body.bp4-dark {
  @include meta.load-css("node_modules/highlight.js/styles/github-dark.css");
}
body:not(.bp4-dark) {
  @include meta.load-css("node_modules/highlight.js/styles/github.css");
}
