@use "sass:meta";
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";

html {
  .bp5-dark {
    background-color: $pt-dark-app-background-color;
  }
}

html,
body,
#root {
  height: 100%;
}

body.bp5-dark {
  @include meta.load-css("node_modules/highlight.js/styles/github-dark.css");
}
body:not(.bp5-dark) {
  @include meta.load-css("node_modules/highlight.js/styles/github.css");
}
