@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";

// Since the import isn't working anymore since the Blueprint 5 migration, the following variable are copied from:
// @import "~@blueprintjs/core/src/components/html-table/_html-table.scss";
$table-row-height: $pt-grid-size * 4 !default;
$table-row-height-small: $pt-grid-size * 3 !default;
$table-border-width: 1px !default;
$table-border-color: $pt-divider-black !default;
$dark-table-border-color: $pt-dark-divider-white !default;

.datagrid {
  width: 100%;

  // Borders
  box-shadow: $table-border-width $table-border-width 0 0 $table-border-color;
  thead tr {
    box-shadow: inset $table-border-width $table-border-width 0 0 $table-border-color;
  }
  tr {
    box-shadow: inset $table-border-width 0 0 0 $table-border-color;
  }

  // Filter cells
  .filter-cell {
    padding: 1px 0 0 1px !important;
    .bp5-input {
      box-shadow: none;
    }
    .bp5-button:not(.bp5-minimal) {
      box-shadow: none !important;
      border-radius: 0 !important;
      width: 100% !important;
    }
  }

  // Cell rendering
  .datagrid-cell {
    &.datagrid-cell-boolean {
      text-align: center;
    }
    &.datagrid-cell-number {
      text-align: right;
    }
    &.datagrid-cell-actions {
      padding: 1px 0 0 1px !important;
    }
  }

  // Controls
  .datagrid-control:hover {
    cursor: pointer;
  }
}

.bp5-dark {
  .datagrid {
    // Borders
    box-shadow: $table-border-width $table-border-width 0 0 $dark-table-border-color;
    thead tr {
      box-shadow: inset $table-border-width $table-border-width 0 0 $dark-table-border-color;
    }
    tr {
      box-shadow: inset $table-border-width 0 0 0 $dark-table-border-color;
    }
  }
}

.datagrid-toolbar {
  display: flex;
  justify-content: space-between;

  // Toolbar position in regard to the grid
  &.toolbar-top {
    margin-bottom: 10px;
  }
  &.toolbar-bottom {
    margin-top: 10px;
  }

  // Alignment of items inside the toolbar
  .toolbar-left {
    text-align: left;
  }
  .toolbar-center {
    text-align: center;
  }
  .toolbar-right {
    text-align: right;
  }
}
