@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/core/src/components/html-table/_html-table.scss";

.datagrid {
  width: 100%;

  // Borders
  box-shadow: $table-border-width $table-border-width 0 0 $table-border-color;
  thead tr {
    box-shadow: inset $table-border-width $table-border-width 0 0 $table-border-color;
  }
  tr {
    box-shadow: inset $table-border-width 0 0 0 $table-border-color;
  }

  // Filter cells
  .filter-cell {
    padding: 0px !important;
    .bp4-input {
      box-shadow: none;
    }
  }

  // Cell rendering
  .datagrid-cell {
    &.datagrid-cell-boolean {
      text-align: center;
    }
    &.datagrid-cell-number {
      text-align: right;
    }
    &.datagrid-cell-actions {
      padding: 0;
    }
  }

  // Controls
  .datagrid-control:hover {
    cursor: pointer;
  }
}

.bp4-dark {
  .datagrid {
    // Borders
    box-shadow: $table-border-width $table-border-width 0 0 $dark-table-border-color;
    thead tr {
      box-shadow: inset $table-border-width $table-border-width 0 0 $dark-table-border-color;
    }
    tr {
      box-shadow: inset $table-border-width 0 0 0 $dark-table-border-color;
    }
  }
}

.datagrid-bottombar {
  margin-top: 10px;
  text-align: right;
}
